/* navbar */
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

a {
  float: right;
}

a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #1a1718;
}

a{
  background-color: beige;
  color: blue;
}

body {
  background-image: url(https://scontent.fmnl17-4.fna.fbcdn.net/v/t1.6435-9/86265670_804583910054128_2497255678528192512_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=2be8e3&_nc_eui2=AeGO8vBiCsp4f18Vq1RRZ66WjiVG0XjIqniOJUbReMiqeJcgekkSAICqAuaJEaOGdGM2Ko9nad2ayHWOMhnc04P5&_nc_ohc=rOZ-mFpaxwQAX8QZDBo&_nc_ht=scontent.fmnl17-4.fna&oh=00_AfAAiyfg-DJCpTgy-Rl35QHiy1kTPsx4nswETHwC8l9bSA&oe=65DC9F06);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* first SEction */
#fsize {
  font-size: 50px;
}

#margs {
  margin-top: 150px;
}

.upperS {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
/* sencond sec */
.secSection {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F9EFDB;
}

#abt {
  color: rgb(0, 0, 0);
  margin-top: 100px;
}

#hello{
  color: rgb(0, 0, 0);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #F9EFDB;
}
